/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;   
  }


  }

  body {
    background: grey;

  }

    .picofme {
        float: left;
}
  
    p {
    font-size: 25px;
    line-height: 30px;
    }



    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: orange;
      color: black;
      text-align: center;
   };
  }
  