* {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;   
  }







.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: black;
    text-align: center;
 }