/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    margin: 80;
    padding: 20px;   
  }


  }

  body {
    background: grey;

  }

    .picofme {
        float: left;
}
  
    p {
    font-size: 25px;
    line-height: 30px;
    }



    footer {
    padding: 10px;
    margin-bottom: none;
    color: #333;
    background: #FFA500;
    text-align: center;
  }
  